[Unit]
Description=Create an encrypted full USGiftCardHub backup archive
After=usgiftcardhub-snapshot.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/usgiftcardhub-primary-snapshot --snapshot --push --archive
ExecStart=/usr/local/sbin/usgiftcardhub-rclone-upload
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
